@model CentricRecognition9.Models.Employee

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.PersonalImage)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.PersonalImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousJob)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
