@model CentricRecognition9.Models.Employee

@{
    ViewBag.Title = "Details";
}
<br />
<br />
<br />
<h2>Employee @Model.FirstName @Model.LastName Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linkedin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmploymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmploymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousJob)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
