@model IEnumerable<CentricRecognition9.Models.Recognition>

@{
    ViewBag.Title = "Recognition";
}

<h2>Recognition</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValue.CoreValueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValue.CoreValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
    </tr>
}

</table>
