@model IEnumerable<CentricRecognition9.Models.Recognition>

@{
    ViewBag.Title = "Recognition";
}
<br />
<br />
<br />
<h2>Employee Recognition</h2>

<p>
    @Html.ActionLink("Recognize now!", "Create", null, new { @class = "btn btn-primary" }) 
</p>
Recognize and Follow on Twitter!
<br />
<a class="twitter-hashtag-button", btn btn-primary
   href="https://twitter.com/intent/tweet?button_hashtag=CentricRecognition">
    Tweet #CentricRecognition
</a>
<br />
<a class="twitter-follow-button"
   href="https://twitter.com/Centric">
    Follow Centric
</a>

<br />
<br />

<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoreValue.CoreValueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.fullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoreValue.CoreValueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
    </tr>
}

</table>
